{% extends "base.html" %}


{% block content %}

<div class="row">
  <div class="col-12">
      <h2 class="text-center display-4 mb-5">Edit Post</h2>
      <form action="/posts/{{post.id}}/edit" method="POST">

        <label class="form-label display-6 mt-1">Title</label>
        <input name="post-title" value="{{post.title}}"
              required aria-label="post-title" class="form-control mb-4">

        <label class="form-label display-6 mt-1">Post Content</label>
        <textarea name="post-content" row="5" placeholder="{{post.content}}"
                required aria-label="post-content" class="form-control mb-4"></textarea>

        <button formaction="/users/{{post.user_id}}"
                formmethod="GET"
                class="btn btn-outline-info">
          cancel
        </button>
        <button type="submit" class="btn btn-success mx-2">
          Submit Changes
        </button>
      </form>
    </div>


{% endblock %}