{%extends "base.html"%}

{%block content%}
<div class="mb-3 row mx-1">
  <div class="col">
    <form action="/users/new" method="POST" class="">
      <label class="col-6 col-form-label">First Name</label>
      <input name="first-name" required aria-label="first-name" class="form-control">

      <label class="col-6 col-form-label">Last Name</label>
      <input name="last-name" required aria-label="last-name" class="form-control">

      <label class="col-6 col-form-label">Image URL</label>
      <input name="image-url" aria-label="image-url" class="form-control" type="URL">
      <div class="align-items-end">
        <button type="submit" class="btn btn-success mt-5">
         Add
        </button>
      </div>
    </form>
  </div>
{%endblock%}