{% extends "base.html" %}


{% block content %}
<div class="row mb-5">
    <div class="col-12">
        <h2 class="display-4 text-center mb-5">{{post.title}}</h2>
    <div class="col-12">
        <p class="lead">{{post.content}}</p>
        <p class="text-center fw-light"><i>By {{post.user.first_name}} {{post.user.last_name}}</i></p>
    </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-12">
      <form class="text-center mb-5">
        <button class="btn btn-outline-info"
                formaction="/users/{{post.user_id}}"
                formmethod="GET">Cancel</button>

        <button class="btn btn-info mx-2"
                formaction="/posts/{{post.id}}/edit"
                formmethod="GET">Edit</button>

        <button formaction="/posts/{{post.id}}/delete"
                formmethod="POST"
                class="btn btn-danger">Delete</button>
      </form>
    </div>
</div>

{% endblock %}