{%extends "base.html"%}


{%block content%}
<div class="row">
    <div class="col">
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
        <span><i>By {{user.first_name}} {{user.last_name}}</i></span>
    </div>
    <div class="col">
        <a class="btn btn-primary-outline mx-1" href="/users/{{user.id}}">Cancel</a>
        <a class="btn btn-primary mx-1" href="/users/{{user.id}}/{{post.title}}/edit">Edit</a>
        <form method="POST" action="/users/{{user.id}}/{{post.title}}/delete">
            <button type="submit" class="btn btn-primary mx-1">Delete</button>
        </form>
    </div>
</div>

{%for msg in get_flashed_messages()%}
    <p>{{msg}}</p>
{%endfor%}

{%endblock%}