{%extends "base.html"%}

{%block content%}


<div class="row">
  <div class="col">
    <h2 class="text-align-center">{{title}}</h2>
      <ul>
        {%for user in users%}
        <li><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
        {%endfor%}
      </ul>
      <a method="GET"
              href="/users/new"
              class="btn btn-secondary">Add user</a>
  </div>
</div>

{%for msg in get_flashed_messages()%}
  <div class="text-primary mt-2">{{msg}}</div>
{%endfor%}

{%endblock%}
